body {
    font-family: Verdana,Arial,sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    font-size: 80%;
    line-height: 1.5;
    color: #000305;
    background-color: #fff;

}

.body {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    width: 100%;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

a {
    text-decoration: none;
}

nav {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    background-color: #666;
    height: 25px;
    width: 100%;
    z-index: 4;
    /*margin: 0 auto;*/
}

nav ul {
    list-style: none;
    margin: 0 auto;
}

nav ul li {
    float: left;
    display: inline;
}

nav a{
    font-size: 90%;
}

nav a:link, nav a:visited {
    color: #fff;
    display: inline-block;
    padding: 4px 25px;
    height: 25px;
}

nav a.current {
    color: #FFB500;
}

nav a:hover, nav a:active,
nav .active a:link, nav .active a:visited {
    text-shadow: none;
    background-color: #888;
}

.avap{
    stroke-width: 1.5;
    stroke: #111;
}

.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#mainHeader {
    width: 85%;
    display: inline-block;
    margin: 0;
    /*margin-top: -20px;*/
    padding: 0;

    height: 40px;
    background-color: #fff;

    position: relative;
    z-index: 2;
    /*border: 2px solid #000;*/
}

#classContribSlider{
    z-index:0;
    width:300px;
    margin: 0 auto;

    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 200px;
    margin-top: -15px;

    vertical-align: middle;
}

#classContribSlider h4{
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    color: #111;
}

#mainMenu{
    height: 660px;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 0;
    left: 0;

    position: relative;
    background: #fff;

    min-width: 140px;
    overflow: scroll;
    width: 15%;

    display: inline-block;
    z-index: 3;
    float: left;
}

.menuTitle{
    margin: 0 auto;
    border-top: 1px solid #ddd;
    padding: 8px 0 3px 0;
    text-align: center;
}

#dimensionSelector a {
    padding: 2px 8px 6px 10px;
    text-decoration: none;
    margin: 5px;
    font-size: 12px;
    height: 12px;

    color: #999;
    background-color: #fefefe;
    //border-bottom: 1px solid #888;
    border-left: 6px solid #888;
    display: block;
    transition: 0.2s;
    white-space: nowrap;
    overflow-x: hidden;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);



}

.shadowed {
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);


}

/* When you mouse over the navigation links, change their color */
#dimensionSelector a:hover{
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);


}

#dimensionSelector a.enabled{
    color: #06c;
    border-left: 6px solid #06c;
}

#dimensionSelector a.enabled:hover {
    color: #03c;
}

#vizSelector a {
    margin: 5px 8px;
    padding-top: 2px;
    color: #fff;
    display: block;
    text-align: center;

    height: 20px;
    background-color: #666;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);


}

#vizSelector a.curViz {
    color: #FFB500;
}

#vizSelector a:hover, #vizSelector a:active,
#vizSelector .active a:link, #vizSelector .active a:visited {
    text-shadow: none;
    background-color: #6A6A6A;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 165, 0, 0.5);
       -moz-box-shadow: 0px 0px 3px 2px rgba(255, 165, 0, 0.5);
            box-shadow: 0px 0px 3px 2px rgba(255, 165, 0, 0.5);
}

#chart {
    height: 620px;
    margin: 0 auto;
    margin-left: 8px;
    position: relative;
    background: #fff;
    width: 700px;
    min-width: 700px;
    float: left;
    z-index: 0;
}

#parc {
    height: 300px;
    margin: 0;
    margin-bottom: 25px;
    padding: 8px;
    position: relative;

    width:34%;
    min-width: 200px;

    float: left;
}

#parc.fullWidth {
    left:0;
    width: 99%;
}

.invisibleWhenDisabled{
    display: none;
}

.invisibleWhenDisabled.enabled{
    display: inline;
}

.tooltip {

    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;

    margin: 0 auto;
    display: none;
    opacity: 1;
    font-size: 10px;
    left: 130px;
    position: absolute;
    text-align: left;
    top: 95px;
    width: 200px;
    z-index: 3;
}

.tooltip p{
    margin: 2px auto;
    padding: 0 0 0 6px;
}

.brush .extent {
    stroke: #000;
    stroke-width: 1.5px;
    fill: #000;
    fill-opacity: 0.1;
}

.legendRect {

    width: 20px;
    height: 20px;
    rx: 3px;
    ry: 3px;
    stroke-width: 0;
    stroke: #444;
    transition: 0.2s;
}

.classLegendRect {
    x: 7px;
}

.legendRect:hover,
.legendRect[selected=false]:hover{
    stroke-width: 1px;
    fill-opacity: .6;
}

.legendRect[selected=true]:hover{
    fill-opacity: .6;
}

.legendRect[selected=true] {
    stroke-width: 3px;
    fill-opacity: 1;
}

.legendRect[selected=false] {
    stroke-width: 0;
}

.legendText {
    font-family: Verdana,Arial,sans-serif;
    width: 80px;
    height: 20px;
    font-size: 12px;
}

circle.selected {
    stroke: #111;
    stroke-width: 1.5;
    opacity: 1;
}

circle.mouseOver {
    stroke: #111;
    stroke-width: 2.5;
    opacity: 1;
}



.checkb {
    outline: 1px solid #1e5180;
}

.txt{
    padding: 6px;
    text-decoration: none;
    font-size: 12px;
    color: #a1a1a1;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    text-align: center;
}

.sidenavTxtContainer{
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    background-color: #222;
}

#attrVarSlider{
    width: 185px;
    display: block;
    margin: 0 auto 8px auto;
}

#attrVarSlider a{
    -webkit-transition-property: none;
       -moz-transition-property: none;
         -o-transition-property: none;
            transition-property: none;
}

#attrVarSlider .d3-slider-handle{
    padding: 0;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 5; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll;
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a{
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #a1a1a1;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
    background-color: #333;
}

.sidenav a.disabled {
   pointer-events: none;
   cursor: default;
   background-color: #666;
}

.sidenav a.enabled{
    color: #98dafc;
}

a:hover[class="closebtn"]{
    background-color: #111;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.pretrainedModel{
    overflow-x: hidden;
    display: block;
    width: 250px;
    background-color: #BBB;
    margin: 0;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4) inset;
       -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4) inset;
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.4) inset;
}

.pretrainedModel p{
    padding-top: 6px;
    overflow-x: hidden;
    text-align: center;
    white-space: nowrap;
}

#chosenModel, #chosenModelLabel{
    color: #888;
}

/* Style page content - use this if you want to push the page content
to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
    margin: 0 auto;
    padding: 0;
}

/* On smaller screens, where height is less than 450px,
change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.loader {
  border: 3px solid #f3f3f3;
          border-radius: 50%;
     -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: inline-block;
}

.loader[visible=false] {
  visibility: hidden;
}

.loaderContainer.loader{
    display: inline;
    float: right;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.styled-select {

   height: 25px;
   overflow: hidden;
   width: 200px;

   padding: 6px 6px 6px 32px;
   text-decoration: none;

   display: block;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 12px;
   color: #888;
   height: 25px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 200px;
   border: 1px solid;
   border-color: #aaa;
}

.styled-select.slate {
    display: block;
    height: 34px;
    width: 200px;

}

.styled-select.slate select {

   font-size: 14px;
   height: 34px;
   width: 200px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.crosshair{
    cursor: crosshair;
}

#trainTestSplitContainer{
    display: block;
}

#trainTestSplitContainer a{
    //position: absolute;
    //display: inline-block;
}

#trainTestSplitContainer input{
    position: relative;
    width: 40px;
    left: 190px;
    top: -30px;
    margin-top: 6px;
    display: inline;
}

#coordiv {
    width: 100px;
    height: 100px;
    /* border: 1px solid; */
    border: none;
    border-color: #aaa;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    cursor: move;
}

#statusBar{
    position: fixed;
    bottom: 0;
    color: #444;
    font-size: 12px;
    background-color: #ddd;
    border-top: 1px solid;
    border-color: #bbb;
    width: 100%;
    height: 18px;
    transition: 0.4s;
    z-index: 5;
}

#statusBar ul {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
}

#statusBar ul li{
    padding: 0px 25px;
    float: left;
    display: inline;
}

#statusBar ul li a{
    text-decoration: none;
    color: #444;
    display: inline-block;
}

#statusBar ul li a:hover{
    background-color: #fff;
    color: #222;
}

#confMatrixContainer table {
    padding: 0;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 12px;
}
#confMatrixContainer table td, table th{
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    padding: 3px;
}

.rotate {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  width: 1.5em;
}
.rotate div {
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
         margin-left: -10em;
         margin-right: -10em;
}

#confMatrixContainer table th{
    font-weight: bold;

}

#confMatrixContainer table{
    border-collapse: collapse;
}

#confMatrixContainer table td {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#confMatrix table th{
    font-weight: normal;
}

#pdp text, #histogram{
    font-size: 10px;
}

#pdp .axis text, #histogram .axis text{
    fill:  #aaa;
}

#pdp .axis .domain, #histogram .axis .domain{
    stroke: #ddd;
    fill: none;
}

 #pdp .axis line, #histogram .axis line{
    stroke: #aaa;
}

.varLine {
    stroke: #eee;
    stroke-width: 1.5px;
    z-index: 6;
}

/*
.axis line{
  stroke: "#eee";
}

.axis path{
  fill: "#eee";
}

.axis text{
  stroke: "#eee";
}
*/
